## Data Science I

Disclaimer:  The following code is used only for academic and learning purposes. The code is intended to give you a point of reference while learning new concepts. It is in no way optimized for production environments. 

### Exercise 2 (Sample answers)

1. Open the file **"ca_sample_data_a.csv"**  in "read mode" 
   (Download the file from your omnivox account )

    We need to read all the data from the file (file is in csv format and contains a header)

    . We need to verify that the phone column is in the following format :

        ddd-ddd-dddd (where d is a digit) (i.e. 514-321-0909)

    . We need to verify that the email column is in the following format :
        
        xxxxxxx@xxxxxxx.xxx (where x are alphanumeric character)
    
      Use REGEX (Regular expressions to check the records (hint : after reading a row,   you can convert the list record into a string (using str) and then apply the regex to the resulting string. See your class notes for an example. (This is a reasonable step to complete this exercise, although it may not be suitable for production code). 
		
    . All records found with a phone that does not follow the given format should be written to a file : bad_phone_recs.csv

    . All records found with an email that does not follow the given format should be written to a file : bad_email_recs.csv

    . All good records should be written to a file : good_recs.csv

In [2]:
import os, re, csv

# Define general REGEX expressions for bot phone and email
simple_phone_re = '\d{3}-\d{3}-\d{4}'
simple_email_re = '\w+@\w+[.]\w+'

# Open the ca_sample_data_a.csv file in your specific directory
# You can use a try ... exception to catch error when opening the file (optional for this exercise)
try:
    #os.chdir(r'c:\users') #Optional
    filehandle = open('ca_sample_data_a.csv', 'r') 

except:
    print("Error opening dataset ... check the file directory and file name!")
else:
    
    # Create empty lists to hold good and bad records
    bad_phone_recs = []
    good_recs = []
    bad_email_recs = []
    
    # Create csv reader to start reading information
    file_reader = csv.reader(filehandle)

    file_header = next(file_reader, None) #filter header line and store it in a variable for later use
    for row in file_reader:
                   
        # Search for phone and emails
            
        phone_to_verify = row[7]
        email_to_verify = row[8]
                
        #------------------------------------------------------
        match_phone = re.search(simple_phone_re, phone_to_verify) #notice we make the row into a string
        match_email = re.search(simple_email_re, email_to_verify)
            
        # Decide which list to populate
        if match_phone and match_email:
            good_recs.append(row)
            
        else:
            if not(match_phone):
                bad_phone_recs.append(row)
            if not(match_email):
                bad_email_recs.append(row)
    
    #close original input file
    filehandle.close()


# Now open the files that will contain the results
# Write csv files containing good records, bad phone records and bad email records

try:
    #os.chdir(r'c:\users\') #optional
    
    filehandle_good = open('good_recs.csv', 'w', newline='')
    filehandle_phone = open('bad_phone_recs.csv', 'w', newline='') 
    filehandle_email = open('bad_email_recs.csv', 'w', newline='')

except:
    print("Error opening datasets for writing bad records ...!")
else:
     
    # define csv writers for all 3 files
    file_writer_phone = csv.writer(filehandle_phone)
    file_writer_email = csv.writer(filehandle_email)
    file_writer_good = csv.writer(filehandle_good)
    
    # Write the header and the data contents for all 3 files

    file_writer_good.writerow(file_header)
    file_writer_good.writerows(good_recs)

    file_writer_phone.writerow(file_header)
    file_writer_phone.writerows(bad_phone_recs)
    
    file_writer_email.writerow(file_header)
    file_writer_email.writerows(bad_email_recs) 
    
    # Close files
   
    filehandle_good.close()
    filehandle_phone.close()
    filehandle_email.close()

2. Open the good_recs.csv file and load it into a Pandas DataFrame (let the index by default)

    2.1	Show the first 5 records using **.head()**  
    2.2	Show the last 10 records using **.tail()**     
    2.3	Print the column names using a for loop and the **.columns** collection  
    2.4	**Slice** the DF and show records 1 to 5 (inclusive)  
    2.5	**Slice** the DF and show _'last_name'_ and _'first_name'_ for records 1 to 5 inclusive  
    2.6	Show the record with index (5) (use **.loc**)  
    2.7	Using **.loc**, show first_name and last_name for record with index 1  
    2.8	Using **.loc** show first_name and last_name for records with index 1 and 5  
    2.9	Using **.loc** show the last_name for record with index 3  
    2.10	Try the method **.describe** with the dataframe and obtain stats on the exams  
    2.11	Using a **boolean mask**, show the first 5 students with am exam_1 mark of 75 or more

In [5]:
import os, re, csv
import pandas as pd

In [6]:
# os.getcwd() optional

In [7]:
# Use the specific location of your csv file and read it a Pandas dataframe

#path = os.getcwd()
df = pd.read_csv('good_recs.csv')

In [8]:
#display first 5 records

df.head()

,first_name,last_name,company_name,address,city,province,postal,phone1,email,web,exam_1,exam_2,exam_3
0,Francoise,Rautenstrauch,"Riebesell, H F Jr",2335 Canton Hwy #6,Windsor,ON,N8N 3N2,519-569-8399,francoise.rautenstrauch@rautenstrauch.com,http://www.riebesellhfjr.com,60,94,79
1,Kendra,Loud,Deloitte & Touche,6 Arch St #9757,Alcida,NB,E8J 2C4,506-363-1526,kloud@gmail.com,http://www.deloittetouche.com,57,50,90
2,Lourdes,Bauswell,Oklahoma Neon Inc,9547 Belmont Rd #21,Belleville,ON,K8P 1B3,613-903-7043,lourdes_bauswell@aol.com,http://www.oklahomaneoninc.com,90,95,64
3,Hannah,Edmison,M B A Paint Stores,73 Pittsford Victor Rd,Vancouver,BC,V5Z 3K2,604-334-3686,hannah@yahoo.com,http://www.mbapaintstores.com,96,95,82
4,Tom,Loeza,Sheraton Shreveport Hotel,447 Commercial St Se,LIle-Perrot,QC,J7V 4T4,514-487-6096,tom.loeza@gmail.com,http://www.sheratonshreveporthotel.com,84,79,51

In [9]:
#display last 10 records

df.tail(10)

,first_name,last_name,company_name,address,city,province,postal,phone1,email,web,exam_1,exam_2,exam_3
477,Esteban,Plantenberg,Midwest Wheel Companies,78 E River,Surrey,BC,V4P 0C4,604-519-9547,esteban@cox.net,http://www.midwestwheelcompanies.com,98,99,57
478,Doretha,Wykle,"Lafave, E Joseph Iii",5106 N Laurel Park Dr,Kenora,ON,P9N 4E7,807-383-4855,doretha@yahoo.com,http://www.lafaveejosephiii.com,66,71,57
479,Dorsey,Neitzke,"Turley, Joseph M",9768 A Aven #112,Truro,NS,B2N 3P6,902-936-9426,dorsey_neitzke@hotmail.com,http://www.turleyjosephm.com,80,53,90
480,Amie,Okuniewski,Motion Industries Inc,24 Venice Rd,Pembroke,ON,K8A 8M7,613-686-9039,amie@yahoo.com,http://www.motionindustriesinc.com,54,69,75
481,Bulah,Berkoff,Balan Marketing Co,2497 Pennsylvania Ave,Strathroy,ON,N7G 3V5,519-309-5863,bulah.berkoff@cox.net,http://www.balanmarketingco.com,61,74,53
482,Erin,Delbosque,Curtiss Wright Corp,357 W Mount Royal Ave,Longueuil,QC,J4M 2A8,450-316-7813,erin@cox.net,http://www.curtisswrightcorp.com,57,97,67
483,Kassandra,Marushia,Phelps Tool & Die Co Inc,123 Euclid Ave #9396,Nanaimo,BC,V9R 1C9,250-646-6446,kassandra@gmail.com,http://www.phelpstooldiecoinc.com,89,57,88
484,Leslee,Matsuno,Factory Mattress Outlet,1251 E Main St #990,Quebec,QC,G1H 1A6,418-460-5773,leslee_matsuno@matsuno.org,http://www.factorymattressoutlet.com,62,77,99
485,Daniel,Dobler,Cosgroves N End Plbg & Hdwr Co,259 W 17th St #39,Beresford,NB,E8K 1B7,506-617-2607,ddobler@dobler.com,http://www.cosgrovesnendplbghdwrco.com,100,79,58
486,Antonio,Unruh,Mission Lincoln Properties,9 Route 38,Port Coquitlam,BC,V3C 2Z4,604-624-7690,antonio.unruh@hotmail.com,http://www.missionlincolnproperties.com,76,54,85

In [10]:
for label in df.columns:
    print(label)

first_name
last_name
company_name
address
city
province
postal
phone1
email
web
exam_1
exam_2
exam_3

In [11]:
df[1:6]

,first_name,last_name,company_name,address,city,province,postal,phone1,email,web,exam_1,exam_2,exam_3
1,Kendra,Loud,Deloitte & Touche,6 Arch St #9757,Alcida,NB,E8J 2C4,506-363-1526,kloud@gmail.com,http://www.deloittetouche.com,57,50,90
2,Lourdes,Bauswell,Oklahoma Neon Inc,9547 Belmont Rd #21,Belleville,ON,K8P 1B3,613-903-7043,lourdes_bauswell@aol.com,http://www.oklahomaneoninc.com,90,95,64
3,Hannah,Edmison,M B A Paint Stores,73 Pittsford Victor Rd,Vancouver,BC,V5Z 3K2,604-334-3686,hannah@yahoo.com,http://www.mbapaintstores.com,96,95,82
4,Tom,Loeza,Sheraton Shreveport Hotel,447 Commercial St Se,LIle-Perrot,QC,J7V 4T4,514-487-6096,tom.loeza@gmail.com,http://www.sheratonshreveporthotel.com,84,79,51
5,Queenie,Kramarczyk,Goeman Wood Products Inc,47 Garfield Ave,Swift Current,SK,S9H 4V2,306-421-5793,queenie.kramarczyk@kramarczyk.org,http://www.goemanwoodproductsinc.com,50,90,62

In [12]:
df[1:6][['last_name','first_name']]

    last_name first_name
1        Loud     Kendra
2    Bauswell    Lourdes
3     Edmison     Hannah
4       Loeza        Tom
5  Kramarczyk    Queenie

In [13]:
df.loc[5]

first_name                                   Queenie
last_name                                 Kramarczyk
company_name                Goeman Wood Products Inc
address                              47 Garfield Ave
city                                   Swift Current
province                                          SK
postal                                       S9H 4V2
phone1                                  306-421-5793
email              queenie.kramarczyk@kramarczyk.org
web             http://www.goemanwoodproductsinc.com
exam_1                                            50
exam_2                                            90
exam_3                                            62
Name: 5, dtype: object

In [14]:
df.loc[1,['first_name','last_name']]

first_name    Kendra
last_name       Loud
Name: 1, dtype: object

In [15]:
df.loc[[1,5],['first_name','last_name']]

  first_name   last_name
1     Kendra        Loud
5    Queenie  Kramarczyk

In [16]:
df.loc[3,'last_name']

'Edmison'

In [17]:
df.describe()

           exam_1      exam_2      exam_3
count  487.000000  487.000000  487.000000
mean    75.125257   74.353183   73.827515
std     15.245546   14.922520   14.929844
min     50.000000   50.000000   50.000000
25%     62.000000   61.000000   60.000000
50%     76.000000   73.000000   73.000000
75%     88.000000   88.000000   87.000000
max    100.000000  100.000000  100.000000

In [18]:
students_75 = df['exam_1']>= 75
df[students_75].head()

,first_name,last_name,company_name,address,city,province,postal,phone1,email,web,exam_1,exam_2,exam_3
2,Lourdes,Bauswell,Oklahoma Neon Inc,9547 Belmont Rd #21,Belleville,ON,K8P 1B3,613-903-7043,lourdes_bauswell@aol.com,http://www.oklahomaneoninc.com,90,95,64
3,Hannah,Edmison,M B A Paint Stores,73 Pittsford Victor Rd,Vancouver,BC,V5Z 3K2,604-334-3686,hannah@yahoo.com,http://www.mbapaintstores.com,96,95,82
4,Tom,Loeza,Sheraton Shreveport Hotel,447 Commercial St Se,LIle-Perrot,QC,J7V 4T4,514-487-6096,tom.loeza@gmail.com,http://www.sheratonshreveporthotel.com,84,79,51
7,Josefa,Opitz,Norman Gale Isuzu,136 W Grand Ave #3,Delhi,ON,N4B 1C4,519-788-7645,josefa.opitz@opitz.org,http://www.normangaleisuzu.com,83,51,57
8,Lea,Steinhaus,"James, Christopher Esq",80 Maplewood Dr #34,Bradford,ON,L3Z 2S4,905-618-8258,lsteinhaus@cox.net,http://www.jameschristopheresq.com,79,59,83